[submodule "tree-sitter"]
    url = https://github.com/UNIST-LOFT/tree-sitter
    path = tree_sitter/core
    branch = 0.21.0
[submodule "languages/c++"]
	path = languages/c++
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
	branch = master
[submodule "languages/python"]
	path = languages/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
	branch = master